.composition {
    position: relative;
    height: 309px;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        outline-offset: 2rem;
        transition: all 0.2s;
        @include respond(phone) {
            width: 65%;
        }

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
            @include respond(phone) {
                right: -19px;
                top: 1rem;
            }
        }
        &--p3 {
            left: 20%;
            top: 10rem;
            @include respond(phone) {
                left: 15%;
                top: 7rem;
            }
        }
        &:hover {
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            transform: scale(1.05) translateY(-0.5rem);
            outline: 1.5rem solid $color-primary;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(0.89);
    }
}
