.popup {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.9);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    @supports (-webkit-backdrop-filter: blur(10px)) or
        (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, 0.3);
    }
    &__close {
        &:link,
        &:visited {
            display: block;
            position: absolute;
            text-decoration: none;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            color: $color-grey-dark;
            padding: 2rem 1rem;
            line-height: 0;
            background-color: $color-white;
            box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
            border-radius: 50%;
            transition: all 0.4s;
        }

        &:hover {
            background-color: $color-primary;
            color: $color-white;
            transform: translateY(-2px);
        }
        &:active {
            transform: translateY(1px);
            box-shadow: 0 0 2rem rgba($color-black, 0.6);
        }
    }
    &__content {
        @include absoluteCenter;
        transform: translate(-50%, -50%) scale(0.2);
        opacity: 0;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 5px;
        display: table;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        @include respond(tab-port) {
            width: 80%;
            display: block;
            top: 40%;
        }
    }
    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
        @include respond(tab-port) {
            width: 80%;
            display: block;
            top: 30%;
            transform: translate(-50%, -30%) scale(1);
        }
    }
    &__left {
        width: 33.333333%;
        display: table-cell;
        vertical-align: middle;
        @include respond(tab-port) {
            width: 100%;
            display: block;
        }
        @include clearfix;
    }
    &__right {
        width: 66.6666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
        @include respond(phone) {
            padding: 2rem;
        }
    }
    &__img {
        display: block;
        width: 100%;
        height: 160px;
        @include respond(tab-port) {
            width: 50%;
            float: left;
        }
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 0.5px solid $color-grey-medium-dark;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 0.5px solid $color-grey-medium-dark;
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        @include respond(tab-port) {
            -moz-column-count: 1;
            column-count: 1;
            margin-bottom: 2rem;
        }
    }
}
